*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightpink;
}

h1 {
    background: #000;
    color: yellow;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px;
}

p {
    color: white;
    background-color: rgb(140, 58, 0);
    padding: 10px;
    margin: 10px;
}

button {
    margin: auto auto;
    max-width: 300px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: white;
    background-color: blue;
    margin: 10px;
    cursor: pointer;
}