* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

#div {
    height: 30%;
    width: 30%;
    background: blue;

    border: 5px solid white;
}

#box {
    height: 30%;
    width: 30%;
    background: green;
}


/* transform properties */
#box1 {
    height: 200px;
    width: 200px;
    background-color: crimson;

    transform: translate(100% ,100%);
    transform: rotate(30deg) translate(100%,100%);

    transform: rotateX(180deg);

    transform: rotateY(180deg);

}

/* perspective and rotation */

body {
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 200px;
}

#image {
    background-image: url('https://plus.unsplash.com/premium_photo-1769376812336-847642b315a2?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 200px;

    transform: rotateX(45deg);
    transform: rotateY(45deg);
    /* transform: rotate(65deg); */

    /* transform scale */
    transform: scale(1);
    transform: scale(1.2);
    transform: scale(0.5);
    transform: scale(0); /* invisible */
}