/*
Responsive
    Responsive website design is an approach that ensures a website adjust its layout, images and text to suite the screen size.

    Units
        - Absolute Units
            - These are fixed values
            Unit      Description                           Example
            px        pixels(device-specific dots)          16px
            pt        points(1/72 inch, mostly in print)    12pt
            cm        centimeters                           2cm
            mm        milimeters                            5mm
            in        inches                                1in

        - Relative Units
            - These scale based on something
                Unit     Relative to                            Example
                em       Its own font size                      1.5em
                rem      Root element's font size(html)         2rem
                %        Parent element's size(width/height)    50%
                vw       1% of viewport width                   5vw
                vh       1% of viewport height                  10vh
                vmin     1% of smaller viewport dimention       10vmin
                vmax     1% of larger viewport dimention        10vmax
                ch       Relative to the width of the "0" (zero) 7ch
                ex       Relative to the x-height of the current font (rarely used) 1ex

    in css there are only 2 types of units: 
        1. absolute units(fixed values)
        2. relative units(changes value acordingly)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}


