* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box2 box3"
    "box1 box4 box5"
    "box6 box6 box5";

  grid-gap: 10px;
  background-color: black;
  padding: 30px;
}

#box1 {
  background-color: rgb(82, 34, 0);
  grid-area: box1;
}
#box2 {
  background-color: rgb(0, 29, 82);
  grid-area: box2;
}
#box3 {
  background-color: rgb(154, 111, 0);
  grid-area: box3;
}
#box4 {
  background-color: rgb(116, 0, 155);
  grid-area: box4;
}
#box5 {
  background-color: rgb(126, 73, 36);
  grid-area: box5;
}
#box6 {
  background-color: rgb(7, 82, 0);
  grid-area: box6;
}

div {
    border-radius: 5px;
}