* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 80px 30% 1fr;
  grid-template-areas:
    "header header"
    "aside section"
    "footer footer";
    grid-gap: 10px;
    padding: 20px;
}

header {
    background-color: rgb(0, 95, 97);
    grid-area: header;
}

aside {
    background-color: white;
    grid-area: aside;
}

section {
    background-color: chocolate;
    grid-area: section;
}

footer {
    background-color: rgb(46, 46, 46);
    grid-area: footer;
}