* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

main {
  height: 100%;
  width: 100%;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 300px;

  grid-template-areas:
    "header header header"
    "section section section"
    "box1 box2 box3";
  grid-gap: 10px;
  padding: 10px;
}

header {
  background-color: darkgreen;
  grid-area: header;
}

section {
  background-color: darkblue;
  grid-area: section;
}

div {
  border: 2px solid white;
  padding: 10px;
}

#box1 {
  background-color: darkviolet;
  grid-area: box1;
}
#box2 {
  background-color: darkviolet;
  grid-area: box2;
}
#box3 {
  background-color: darkviolet;
  grid-area: box3;
}

header,
section {
  padding: 10px;
  border: 2px solid white;
}
