@font-face {
  font-family: krish;
  src: url(./CursedClaw-Regular.ttf);
}
@font-face {
  font-family: sher;
  src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  color: blue;
  background-color: rosybrown;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  font-family: krish;
  font-weight: 600;
}

#hero {
  background-color: black;
  color: yellow;
  font-weight: 600;
  padding: 20px;
  text-transform: lowercase;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.list {
  color: red;
  padding: 10px;
  font-size: 50px;
  font-weight: 600;
  font-family: sher;
  text-transform: capitalize;
}

/* downloading fonts:-  */
/* google - horror font free download - download file */

/* font family - inspect website - network tab - font - relaod page */

/* div */
div {
  height: 100px;
  width: 100px;
  background-color: lightgreen;
}
