* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

/* Z-Index */
.box1 {
  background-color: aqua;
  height: 200px;
  width: 200px;

  top: 30%;
  left: 30%;
  position: absolute;
  z-index: 2;
}
.box2 {
  background-color: rgb(0, 64, 91);
  height: 200px;
  width: 200px;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
}
.box3 {
  background-color: rgb(0, 255, 85);
  height: 200px;
  width: 200px;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
}

/* transform translate */
/* .box4 {
    height: 200px;
    width: 200px;
    background-color:rgb(255, 80, 109);
    position: absolute;
    top: 50%;
    left: 50%;
} */
/* .box4 {
    height: 200px;
    width: 200px;
    background-color:rgb(255, 80, 109);
    transform: translateX(50%);
    transform: translateX(100%);
    transform: translateX(10%);
} */
/* .box4 {
    height: 200px;
    width: 200px;
    background-color:rgb(255, 80, 109);
    transform: translateY(50%);
    transform: translateY(100%);
    transform: translateY(10%);
} */

/* .box4 {
    height: 200px;
    width: 200px;
    background-color:rgb(255, 80, 109);
    transform: translateY(-50%);
    transform: translateY(-100%);
    transform: translateY(-10%);
} */

/* .box4 {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 80, 109);
  transform: translateY(50%);
  transform: translateY(100%);
  transform: translateY(10%);
  transform: translateX(-50%);
  transform: translateY(-50%);

  transform: translate(-50%,-50%);
} */

/* .box4 {
    height: 200px;
    width: 200px;
    background-color:rgb(255, 80, 109);
    transform: translate(100px);
    transform: translate(400px);
    transform: translateX(400px);
    transform: translateY(400px);
    transform: translateY(-400px);
    transform: translateX(-400px);
} */

.box4 {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 80, 109);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  clip-path: polygon(
    53% 50%,
    100% 0,
    100% 0,
    53% 49%,
    100% 100%,
    50% 46%,
    20% 100%,
    19% 100%,
    50% 45%,
    0 0
  );
}
/* google - clip path = for different shapes */

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}

svg text {
  animation: stroke 4s infinite alternate;
  stroke-width: 2;
  stroke: #1600a0;
  font-size: 103px;
}

@keyframes stroke {
  0% {
    fill: rgba(204, 0, 0, 0);
    stroke: rgba(22, 0, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(204, 0, 0, 0);
    stroke: rgba(22, 0, 160, 1);
  }
  80% {
    fill: rgba(204, 0, 0, 0);
    stroke: rgba(22, 0, 160, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(204, 0, 0, 1);
    stroke: rgba(22, 0, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: #ffffff;
}

/* display properties */
/* .box10 {
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}
.box11 {
  width: 200px;
  height: 200px;
  background-color:coral;
}
.box12 {
  width: 200px;
  height: 200px;
  background-color: darkolivegreen;
}

.div {
  border:3px solid white;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
} */

.box10 {
  width: 200px;
  height: 200px;
  background-color: cadetblue;
  flex-shrink: 0;
}
.box11 {
  width: 200px;
  height: 200px;
  background-color: coral;
  flex-shrink: 0;
}
.box12 {
  width: 200px;
  height: 200px;
  background-color: darkolivegreen;
  flex-shrink: 0;
}

.div {
  border: 3px solid white;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  overflow: auto;
  overflow: hidden;
  overflow: auto;
}

main {
  padding: 25px;
  background-color: lightblue;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

main > div {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px;
}

main img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

main h2 {
  color: black;
  margin-bottom: 10px;
}

main button {
  color: black;
  padding: 8px 25px;
  border-radius: 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  cursor: pointer;
  color: rgb(61, 61, 61);
  font-weight: 600;
}

main div p {
  color: rgba(0, 0, 0, 0.619);
  text-align: center;
  margin-bottom: 20px;
  font-weight: lighter;
}

button:hover {
  background-color: #1600a0;
  color: white;
  scale: 1.1;
border: 0;
}

button:active {
  scale: 0.9;
  border: 0;
}

button {
  transition-duration: 2000;

}