@font-face {
  font-family: HelveticaNowDisplay;
  src: url(./font/HelveticaNowDisplay-Medium.ttf);
}

@font-face {
  font-family: cursiveFont;
  src: url(./mustopha/Mustopha.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: HelveticaNowDisplay;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  padding: 40px;
  width: 100%;
  height: 100%;
  position: relative;
}

main > nav > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
main > nav > div > p {
  cursor: pointer;
}
main > nav > div > p:hover {
  text-decoration: underline;
}

main > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* border: 2px solid red; */
}
main > nav > div > span {
  font-size: 25px;
  font-weight: 600;
}

main > h1 {
  font-size: 200px;
  text-align: center;
  font-weight: 400;
  padding: 50px 0;
  color: rgb(40, 45, 55);
}

main > section {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  flex-direction: column;
  max-width: 300px;
  position: absolute;
  top: 80%;
}
main > section > div > h2 {
  padding-bottom: 12px;
  color: black;
}
main > section > div > p {
  color: rgb(72, 72, 72);
}

main > .images {
  position: relative;
  height: 400px;
  width: 100%;
  bottom: 20%;
}

main > .images > img {
  position: absolute;
}

#img1 {
  height: 250px;
  right: 30%;
  z-index: 3;
}
#img2 {
  height: 200px;
  right: 38%;
  top: 40%;
  z-index: 2;
}
#img3 {
  height: 200px;
  right: 47%;
  top: 20%;
  z-index: 1;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid slategray;
  width: 100%;
}
